.Custom {
    width: 100vw;
    height: 100vh;
}

.padupadan{
    font-weight: 600;
    font-size: 29px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 90px;
    transform: translateY(-50%);
    color: #ffffff;
}
.kotak {
  width: 290px; /* Atur lebar kotak */
  height: 820px; /* Atur tinggi kotak */
  background-color: #353B55; /* Atur warna latar belakang kotak */
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.dropdown-button {
  display: inline-block;
  padding: 7px 50px;
  background-color: transparent; 
  color: #ffffff; 
  font-size: 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 130px;
  right: 1290px; 
  transform: translateY(-50%);
  width: 210px;
  text-align: center;
}

.dropdown-button:hover {
  background-color: #738CF1; 
  color: #ffffff;
  padding: 7px 50px; 
  border-radius: 10px; 
}


.dropdown-group1 {
display: inline-block;
  padding: 7px 15px; 
  background-color: #007bff; 
  color: #fff; 
  font-size: 13px; 
  border: none; 
  border-radius: 10px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  position: absolute;
  top: 130px;
  right: 80cqmax;
  transform: translateY(-50%);
}




.dropdown-group2 {
    display: inline-block;
      padding: 7px 15px; 
      background-color: #007bff; 
      color: #fff; 
      font-size: 13px; 
      border: none; 
      border-radius: 10px;
      cursor: pointer; 
      transition: background-color 0.3s ease; 
      position: absolute;
      top: 130px;
      right: 73cqmax;
      transform: translateY(-50%);
    }

    .dropdown-button2{
        display: inline-block;
      padding: 7px 50px; 
      background-color: transparent; 
      color: #fff; 
      font-size: 20px; 
      border: none; 
      border-radius: 10px;
      cursor: pointer; 
      transition: background-color 0.3s ease; 
      position: absolute;
      top: 180px;
      right: 1290px;
      transform: translateY(-50%);
      width: 210px;
  text-align: center;
    }
    
    .dropdown-button2:hover {
      background-color: #738CF1; 
      color: #ffffff;
      padding: 7px 50px; 
      border-radius: 10px; 
    }

    
    .dropdown-group4 {
        display: inline-block;
          padding: 7px 15px; 
          background-color: #007bff; 
          color: #fff; 
          font-size: 13px; 
          border: none; 
          border-radius: 10px;
          cursor: pointer; 
          transition: background-color 0.3s ease; 
          position: absolute;
          top: 180px;
          right: 73cqmax;
          transform: translateY(-50%);
        }

    .dropdown-group5 {
          display: inline-block;
          padding: 7px 15px; 
          background-color: #007bff; 
          color: #fff; 
          font-size: 13px; 
          border: none; 
          border-radius: 10px;
          cursor: pointer; 
          transition: background-color 0.3s ease; 
          position: absolute;
          top: 230px;
          right: 81cqmax;
          transform: translateY(-50%);
          }
.dropdown-button3{
  display: inline-block;
  padding: 7px 50px;
  background-color: transparent; 
  color: #ffffff; 
  font-size: 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 230px;
  right: 1290px; 
  transform: translateY(-50%);
  width: 210px;
  text-align: center;
  }

  .dropdown-button3:hover {
    background-color: #738CF1; 
    color: #ffffff;
    padding: 7px 50px; 
    border-radius: 10px; 
  }
    .dropdown-group3 {
    display: inline-block;
      padding: 7px 15px; 
      background-color: #007bff; 
      color: #fff; 
      font-size: 13px; 
      border: none; 
      border-radius: 10px;
      cursor: pointer; 
      transition: background-color 0.3s ease; 
      position: absolute;
      top: 180px;
      right: 80cqmax;
      transform: translateY(-50%);
    }

    .dropdown-button4{
      display: inline-block;
      padding: 7px 50px; 
      background-color: transparent; 
      color: #fff; 
      font-size: 20px; 
      border: none; 
      border-radius: 10px;
      cursor: pointer; 
      transition: background-color 0.3s ease; 
      position: absolute;
      top: 280px;
      right: 1290px;
      transform: translateY(-50%);
      width: 210px;
  text-align: center;
  }

  .dropdown-button4:hover {
    background-color: #738CF1; 
    color: #ffffff;
    padding: 7px 50px; 
    border-radius: 10px; 
  } 
    .dropdown-group6{
    display: inline-block;
      padding: 7px 15px; 
      background-color: #007bff; 
      color: #fff; 
      font-size: 13px; 
      border: none; 
      border-radius: 10px;
      cursor: pointer; 
      transition: background-color 0.3s ease; 
      position: absolute;
      top: 280px;
      right: 82.5cqmax;
      transform: translateY(-50%);
    }

    .dropdown-button5{
      display: inline-block;
    padding: 7px 50px; 
    background-color: transparent; 
    color: #fff; 
    font-size: 20px; 
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    position: absolute;
    top: 330px;
    right: 1290px;
    transform: translateY(-50%);
    width: 210px;
text-align: center;
  }
  
  .dropdown-button5:hover {
    background-color: #738CF1; 
    color: #ffffff;
    padding: 7px 50px; 
    border-radius: 10px; 
  }

    .dropdown-group7{
    display: inline-block;
      padding: 7px 15px; 
      background-color: #007bff; 
      color: #fff; 
      font-size: 13px; 
      border: none; 
      border-radius: 10px;
      cursor: pointer; 
      transition: background-color 0.3s ease; 
      position: absolute;
      top: 330px;
      right: 82cqmax;
      transform: translateY(-50%);
    }

    .dropdown-button6{
      display: inline-block;
    padding: 7px 50px; 
    background-color: transparent; 
    color: #fff; 
    font-size: 20px; 
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    position: absolute;
    top: 380px;
    right: 1290px;
    transform: translateY(-50%);
    width: 210px;
text-align: center;
  }
  
  .dropdown-button6:hover {
    background-color: #738CF1; 
    color: #ffffff;
    padding: 7px 50px; 
    border-radius: 10px; 
  }

    .dropdown-group8{
    display: inline-block;
      padding: 7px 15px; 
      background-color: #007bff; 
      color: #fff; 
      font-size: 13px; 
      border: none; 
      border-radius: 10px;
      cursor: pointer; 
      transition: background-color 0.3s ease; 
      position: absolute;
      top: 382px;
      right: 82.8cqmax;
      transform: translateY(-50%);
    }

    .dropdown-button7{
      display: inline-block;
    padding: 7px 50px; 
    background-color: transparent; 
    color: #fff; 
    font-size: 20px; 
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    position: absolute;
    top: 430px;
    right: 1290px;
    transform: translateY(-50%);
    width: 210px;
text-align: center;
  }
  
  .dropdown-button7:hover {
    background-color: #738CF1; 
    color: #ffffff;
    padding: 7px 50px; 
    border-radius: 10px; 
  }

    .dropdown-group9{
    display: inline-block;
      padding: 7px 15px; 
      background-color: #007bff; 
      color: #fff; 
      font-size: 13px; 
      border: none; 
      border-radius: 10px;
      cursor: pointer; 
      transition: background-color 0.3s ease; 
      position: absolute;
      top: 430px;
      right: 82.3cqmax;
      transform: translateY(-50%);
    }


.upload-image{
  position: absolute;
  top: 199px;
  right: -7cqmax;
  transform: translateY(-50%);
        }

        .take-picture-button {
          display: inline-block;
          padding: 10px 20px;
          background-color: #007bff;
          color: #fff;
          font-size: 16px;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          position: absolute;
  top: 650px;
  right: 170px;
  z-index: 2;
        }
        